.btn {
	position: relative;

	&,
	&:link,
	&:visited {
		text-transform: uppercase;
		text-decoration: none;
		padding: 1.5rem 4rem;
		display: inline-block;
		border-radius: 10rem;
		transition: all 0.3s;
		position: relative;
		font-size: $default-font-size;

		// rules for <button> elements
		border: none;
		cursor: pointer;
	}
	&:hover {
		transform: translateY(-0.3rem);
		box-shadow: 0 1rem 2rem rgba($black, 0.6);
	
		&::after {
			transform: scaleX(1.2) scaleY(1.6);
			opacity: 0;
		}
	}
	&:active,
	&:focus {
		outline: none;
		transform: translateY(-1px);
		box-shadow: 0 0.5rem 1rem rgba($black, 0.9);
	}

	&::after {
		content: "";
		display: inline-block;
		height: 100%;
		width: 100%;
		border-radius: 10rem;
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		transition: all 0.3s;
	}
  
	&--white {
		background-color: $white;
		color: $black;

		&::after {
			background-color: $white;
		}
	}
    &--green {
        background-color: $color-primary;
        color: $white;
		font-weight: 400;

        &::after {
            background-color: $color-primary;
        }
    }
	&--animated {
		@include animation (moveInBottom);
		
		animation-delay: 0.5s;
		animation-fill-mode: backwards;
	}
}

.btn-text {
	&:link,
	&:visited {
		font-size: $default-font-size;
		color: $color-primary-light;
		font-weight: 400;
		display: inline-block;
		text-decoration: none;
		border-bottom: 1px solid $color-primary-light;
		padding: .3rem .5rem;
		transition: all .3s;
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
	}

	&:hover {
		background-color: $color-primary-light;
		color: $black;
		box-shadow: 0 .6rem 1.5rem rgba($black, 0.6);
		transform: translateY(-2px);

		&::after {
			background-color: $color-primary-light;
			transform: scaleX(1);
			opacity: .45;
		}

		.util-border-bottom {
			border-bottom: transparent;
		}
	}

	&:active,
	&:focus {
		outline: none;
		transform: translateY(-1px);
		box-shadow: 0 0.2rem .6rem rgba($black, .9);
	}

	&::after {
		content: "";
		display: inline-block;
		height: 100%;
		width: 100%;
		background-color: $black;
		transform: scaleX(2);
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		transition: all 0.3s;
		opacity: 0;
	}

	&--light {
		color: $color-primary-darkest;
		font-weight: 400;

		&:hover {
			color: $white;
			background-color: $color-primary-dark;
			border-bottom-color: $color-primary-dark;

			&::after {
				background-color: $color-primary-dark;
				transform: scaleX(1);
				opacity: .45;
			}
		}
	}

	&--dark {
		background-color: rgba($white, .8);

		&:link,
		&:visited {
			color: $black;
			border-bottom: 1px solid $black;
		}
	

		&:hover {
			color: $white;
			background-color: $black;
			border-bottom-color: $black;

			&::after {
				background-color: $black;
				transform: scaleX(1);
				opacity: .45;
			}
		}
	}
}
