.feature-box {
	border-top: 2.5rem solid $grey-black;
	background-color: rgba($white, 1);
	clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
	font-size: 1.5rem;
	padding: 2.5rem 2rem 10rem;
	min-height: 42.5rem;
	text-align: center;
	box-shadow: 0 1.5rem 3rem rgba($black, .9);
	transition: all .3s;

	&__icon {
		font-size: 4rem;
		color: $color-primary;
	}

	&__heading {
		padding-bottom: 3rem;
	}

	hr {
		border-color: rgba($color-primary, .2);
		border-width: 1px;
		margin-left: 1rem;
		margin-right: 1rem;
	}

	&__text {
		padding: 2.5rem 0 0;
	}

	&:hover {
		box-shadow: 0 2.5rem 4rem rgba($black, .8);
		transform: translateY(-1.5rem) scale(1.05);
		clip-path: polygon(0 0, 100% 0, 100% 80%, 0 90%);
	}
}